[init]
	defaultBranch = master
[pull]
	rebase = true
[core]
	excludesfile = ~/.gitignore
[commit]
	gpgsign = true

# Always use SSH instead of Git HTTP protocol.
[url "git@github.com:"]
	insteadOf = https://github.com/
